[Unit]
Description=Kerberos Ticket Renew Daemon
Requires=network.target
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=2147483647

[Service]
Type=exec
ExecStart=/usr/local/bin/krenewd --master=0 --foreground --verbose
MemoryMax=67108864
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

