[Unit]
Description=Kerberos Ticket Renewal Daemon for UID %i
Documentation=https://github.com/SIGSEGV111/krenewd
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=2147483647

[Service]
Type=forking
GuessMainPID=yes
TimeoutStartSec=infinity
User=%i
WorkingDirectory=/
RuntimeDirectory=krenewd/%i
RuntimeDirectoryMode=0700
Environment=KRB5CCNAME=DIR:/run/krenewd/%i/krb5cc
EnvironmentFile=/etc/krenewd.conf
ExecStartPre=/usr/bin/install -d -m 0700 /run/krenewd/%i/krb5cc
ExecStart=/usr/bin/krenewd --master 0 --destroy --verbose --journal
Restart=always
RestartSec=15
UMask=0077

# Security
NoNewPrivileges=true
PrivateTmp=false

[Install]
WantedBy=multi-user.target
